#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 25em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);

  animation: logo-spin infinite .5s linear ;
  -webkit-animation: logo-spin infinite .5s linear ;
    
  
}

form{

  border-radius: 5%;
  padding: 50px;
  -webkit-box-shadow: 9px 18px 70px 6px rgba(44,192,222,1);
-moz-box-shadow: 9px 18px 70px 6px rgba(44,192,222,1);
box-shadow: 9px 18px 70px 6px rgba(44,192,222,1);
margin:95px;

}
.itemcontainer{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

article{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  border-radius: 5px;
  
}


article:hover{
  -webkit-box-shadow: 9px 20px 54px 28px rgba(44,192,222,0.67);
  -moz-box-shadow: 9px 20px 54px 28px rgba(44,192,222,0.67);
  box-shadow: 9px 20px 54px 28px rgba(44,192,222,0.67);
  
}


.deletebutton:hover{
  background-color: red;
  color:white;
  border-style: none;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 15s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
